@model waluty.Models.FetchCurrenciesView

<!Doctype>
<html lang="en">
    <head>
        <title>Fetch exchange rates</title>
    </head>
    <body>
        <form method="get" asp-action="FetchRatesByDate">
            <input type="date" name="date"
                value="@Model.SelectedDate?.ToString("yyyy-MM-dd")"
                max="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <input type="submit" value="Fetch exchange rates"/>
        </form>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p>@Model.Message</p>
        }
</body>
</html>